extends ./layout/index

block contains
    main.container.mt-5 
        .row 
            .col-md-5
                img(src=`/img/destinos_${result.image}_ln.jpg`,class="img-fluid", alt="img")
            .col-md-7
                h1 #{result.title}

                p 
                    svg.icon.icon-tabler.icon-tabler-calendar-event(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewbox='0 0 24 24' stroke-width='1.5' stroke='#fd0061' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z')
                        path(d='M16 3l0 4')
                        path(d='M8 3l0 4')
                        path(d='M4 11l16 0')
                        path(d='M8 15h2v2h-2z')
                    |  #{result.departure_date} - #{result.return_date}
                
                p 
                    svg.icon.icon-tabler.icon-tabler-receipt-2(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewbox='0 0 24 24' stroke-width='2' stroke='#fd0061' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16l-3 -2l-2 2l-2 -2l-2 2l-2 -2l-3 2')
                        path(d='M14 8h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5m2 0v1.5m0 -9v1.5')
                    | #{result.price} Dolares

                p 
                    svg.icon.icon-tabler.icon-tabler-users-group(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewbox='0 0 24 24' stroke-width='1.5' stroke='#fd0061' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0')
                        path(d='M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1')
                        path(d='M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0')
                        path(d='M17 10h2a2 2 0 0 1 2 2v1')
                        path(d='M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0')
                        path(d='M3 13v-1a2 2 0 0 1 2 -2h2')
                    |  #{result.available} Disponibles


                p.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nulla aliquam minima libero, eum obcaecati dicta quos voluptatem cum

                a(href=`/${result.slug}`, class="btn btn-success btn-block") Mas información
                